* {
  border: none;
  font-family: 'Fira Code', 'Symbols Nerd Font Mono';
  font-size: 13px;
  font-feature-settings: '"zero", "ss01", "ss02", "ss03", "ss04", "ss05", "cv31"';
  min-height: 22px;
}

window#waybar {
  background: transparent;
}

#custom-arch, #workspaces {
  border-radius: 10px;
  background-color: #11111b;
  color: #b4befe;
  margin-top: 5px;
  margin-right: 3px;
  padding-top: 1px;
  padding-left: 5px;
  padding-right: 5px;
}

#custom-arch {
  font-size: 16px;
  margin-left: 12px;
  color: #b4befe;
}

#workspaces button {
  background: #11111b;
  color: #b4befe;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
}

#idle_inhibitor, #clock, #backlight, #pulseaudio, #bluetooth, #custom-network, #battery, #cpu, #memory, #disk, #custom-updates, #custom-power_profile, #language, #custom-gpu, #custom-gpu_mem{
  border-radius: 10px;
  background-color: #11111b;
  color: #cdd6f4;
  margin-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  margin-right: 3px;
}

#battery {
  margin-right: 12px;
}

#cpu, #backlight, #bluetooth {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  padding-right: 5px;
  margin-right: 0;
  padding-left: 10px;
}

#disk, #pulseaudio, #custom-network {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding-left: 5px;
  padding-right: 10px;
}

#memory, #pulseaudio.microphone, #custom-gpu, #custom-gpu_mem {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin-right: 0;
}

#pulseaudio.microphone {
  margin-right: -6px;
}

#cpu, #disk, #memory, #backlight, #idle_inhibitor, #custom-updates, #custom-gpu, #custom-gpu_mem {
  padding-top: 1px;
}

#clock, #idle_inhibitor, #custom-updates, #custom-power_profile {
  margin-right: 3px;
  padding-left: 8px;
  padding-right: 8px;
}

#clock {
  padding-top: 2px;
}

#language, #battery {
  padding-left: 10px;
  padding-right: 10px;
}
